<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manger.mapper.MangeServerMapper">
    
    <resultMap type="MangeServer" id="MangeServerResult">
        <result property="Id"    column="Id"    />
        <result property="serverName"    column="server_name"    />
        <result property="serverIp"    column="server_ip"    />
        <result property="startInterat"    column="start_Interat"    />
        <result property="endInterat"    column="end_Interat"    />
        <result property="startPost"    column="start_post"    />
        <result property="endPost"    column="end_post"    />
        <result property="election"    column="election"    />
        <result property="number"    column="number"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectMangeServerVo">
        select Id, server_name, server_ip, start_Interat, end_Interat, start_post, end_post, election, number, status from mange_server
    </sql>

    <select id="selectMangeServerList" parameterType="MangeServer" resultMap="MangeServerResult">
        <include refid="selectMangeServerVo"/>
        <where>  
            <if test="serverName != null  and serverName != ''"> and server_name like concat('%', #{serverName}, '%')</if>
            <if test="serverIp != null  and serverIp != ''"> and server_ip = #{serverIp}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMangeServerById" parameterType="Long" resultMap="MangeServerResult">
        <include refid="selectMangeServerVo"/>
        where Id = #{Id}
    </select>

    <insert id="insertMangeServer" parameterType="MangeServer" useGeneratedKeys="true" keyProperty="Id">
        insert into mange_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">server_name,</if>
            <if test="serverIp != null and serverIp != ''">server_ip,</if>
            <if test="startInterat != null and startInterat != ''">start_Interat,</if>
            <if test="endInterat != null and endInterat != ''">end_Interat,</if>
            <if test="startPost != null">start_post,</if>
            <if test="endPost != null">end_post,</if>
            <if test="election != null">election,</if>
            <if test="number != null">number,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">#{serverName},</if>
            <if test="serverIp != null and serverIp != ''">#{serverIp},</if>
            <if test="startInterat != null and startInterat != ''">#{startInterat},</if>
            <if test="endInterat != null and endInterat != ''">#{endInterat},</if>
            <if test="startPost != null">#{startPost},</if>
            <if test="endPost != null">#{endPost},</if>
            <if test="election != null">#{election},</if>
            <if test="number != null">#{number},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateMangeServer" parameterType="MangeServer">
        update mange_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">server_name = #{serverName},</if>
            <if test="serverIp != null and serverIp != ''">server_ip = #{serverIp},</if>
            <if test="startInterat != null and startInterat != ''">start_Interat = #{startInterat},</if>
            <if test="endInterat != null and endInterat != ''">end_Interat = #{endInterat},</if>
            <if test="startPost != null">start_post = #{startPost},</if>
            <if test="endPost != null">end_post = #{endPost},</if>
            <if test="election != null">election = #{election},</if>
            <if test="number != null">number = #{number},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where Id = #{Id}
    </update>

    <delete id="deleteMangeServerById" parameterType="Long">
        delete from mange_server where Id = #{Id}
    </delete>

    <delete id="deleteMangeServerByIds" parameterType="String">
        delete from mange_server where Id in 
        <foreach item="Id" collection="array" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </delete>


    <select id="checkServerNameUnique" parameterType="MangeServer" resultMap="MangeServerResult">
        <include refid="selectMangeServerVo"/>
        where server_name = #{serverName}
        <if test="Id != null"> and Id != #{Id}</if>
        limit 1
    </select>

    <select id="checkServerIpUnique" parameterType="MangeServer" resultMap="MangeServerResult">
        <include refid="selectMangeServerVo"/>
        where server_ip = #{serverIp}
        <if test="Id != null"> and Id != #{Id}</if>
        limit 1
    </select>
  </mapper>