<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.TincNetworkMange.mapper.TincNetworkMangeMapper">
    
    <resultMap type="TincNetworkMange" id="TincNetworkMangeResult">
        <result property="id"    column="id"    />
        <result property="rootName"    column="root_name"    />
        <result property="serverName"    column="server_name"    />
        <result property="networkName"    column="network_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="port"    column="port"    />
        <result property="segment"    column="segment"    />
        <result property="nodes"    column="nodes"    />
        <result property="networkStatus"    column="network_status"    />
        <result property="explanation"    column="explanation"    />
    </resultMap>

    <sql id="selectTincNetworkMangeVo">
        select id, root_name, server_name, network_name, create_time, port, segment, nodes, network_status, explanation from tinc_network_mange
    </sql>

    <select id="selectTincNetworkMangeList" parameterType="TincNetworkMange" resultMap="TincNetworkMangeResult">
        <include refid="selectTincNetworkMangeVo"/>
        <where>  
            <if test="rootName != null  and rootName != ''"> and root_name like concat('%', #{rootName}, '%')</if>
            <if test="serverName != null  and serverName != ''"> and server_name like concat('%', #{serverName}, '%')</if>
            <if test="networkName != null  and networkName != ''"> and network_name like concat('%', #{networkName}, '%')</if>
            <if test="segment != null  and segment != ''"> and segment = #{segment}</if>
            <if test="nodes != null "> and nodes = #{nodes}</if>
            <if test="networkStatus != null  and networkStatus != ''"> and network_status = #{networkStatus}</if>
        </where>
    </select>
    
    <select id="selectTincNetworkMangeById" parameterType="Long" resultMap="TincNetworkMangeResult">
        <include refid="selectTincNetworkMangeVo"/>
        where id = #{id}
    </select>

    <insert id="insertTincNetworkMange" parameterType="TincNetworkMange" useGeneratedKeys="true" keyProperty="id">
        insert into tinc_network_mange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rootName != null and rootName != ''">root_name,</if>
            <if test="serverName != null and serverName != ''">server_name,</if>
            <if test="networkName != null and networkName != ''">network_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="port != null and port != ''">port,</if>
            <if test="segment != null and segment != ''">segment,</if>
            <if test="nodes != null">nodes,</if>
            <if test="networkStatus != null and networkStatus != ''">network_status,</if>
            <if test="explanation != null">explanation,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rootName != null and rootName != ''">#{rootName},</if>
            <if test="serverName != null and serverName != ''">#{serverName},</if>
            <if test="networkName != null and networkName != ''">#{networkName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="port != null and port != ''">#{port},</if>
            <if test="segment != null and segment != ''">#{segment},</if>
            <if test="nodes != null">#{nodes},</if>
            <if test="networkStatus != null and networkStatus != ''">#{networkStatus},</if>
            <if test="explanation != null">#{explanation},</if>
         </trim>
    </insert>

    <update id="updateTincNetworkMange" parameterType="TincNetworkMange">
        update tinc_network_mange
        <trim prefix="SET" suffixOverrides=",">
            <if test="rootName != null and rootName != ''">root_name = #{rootName},</if>
            <if test="serverName != null and serverName != ''">server_name = #{serverName},</if>
            <if test="networkName != null and networkName != ''">network_name = #{networkName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="port != null and port != ''">port = #{port},</if>
            <if test="segment != null and segment != ''">segment = #{segment},</if>
            <if test="nodes != null">nodes = #{nodes},</if>
            <if test="networkStatus != null and networkStatus != ''">network_status = #{networkStatus},</if>
            <if test="explanation != null">explanation = #{explanation},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTincNetworkMangeById" parameterType="Long">
        delete from tinc_network_mange where id = #{id}
    </delete>

    <delete id="deleteTincNetworkMangeByIds" parameterType="String">
        delete from tinc_network_mange where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>